body{
    background :url("");
    background-repeat:no-repeat;
    background-size:cover;
    background-color:gray;
}
.nav{
/*border-width:5px;
border-color:red;
border-style:"solid";*/
float:left;
position:relative;
width:100%;
height:65px;

}
.categories{
    left:5px;
    position: relative;
    float: left;
    width:330px;
    /*border:5px solid;*/
    height:fit-content;
    background-color:#f5fbfc;
   /*
    position: relative; float: left; 
    width: 35%;
     height: 150px; 
     background-color: pink; 
     /*overall width 248px including 2*3px padding and 2*1px border*/
}
.standard:hover{
    background-color:#7ed3e2;
}
.slideshow{
    
    position:relative;
    float: left;
    width:80%;
    height:1000px;
    margin-left:10px;    
    /*position: relative; float: left; width: 65%; background-color: azure; /*overall width 248px including 2*3px padding and 2*1px border; (no height)*/
    
}
.footer{
    
    margin-top:1000px;
}

.standards
{  /*
    float:left;
    position:relative;
    font-size:45px;
border-bottom:5px solid #ccc;
border:5px solid #ccc;
width:100%;
margin-left:0px;
   */ 
}
ul{
    list-style-type:none;
}
.col{
    width:100px;
    height:480px;
    float:left;
    position :relative;
    background-color: gainsboro;
    margin-left:10px;
    /*background-color:rgb(189, 196, 195);*/
    
   

}
.row{
    width:100%;
    height:350px;
    float:left;
    margin-top: 150px;
    position:relative;
}
.randombooks{
    height:330px;
    width:250px;
    margin-left:30px;
    margin-top:20px;

}
}
.row1{
    width:100%;
    height:450px;
    float:left;
    margin-top: 1000px;
    position:relative;
   
}
.listelements{
    font-size:45px;
    border-bottom:1px solid #ccc;
    height: 100px;
    
    }
    .categorybut:hover{
        background-color:black;
        }
        .categorybut{
        color:white;
        background-color:skyblue;
          //padding: 13px 120px;
          width:350px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
         margin-left:-40px;
         height:100px;
          font-size: 45px;
        }
        .books{
            display:none;
        }

   #book{
       margin-left:5px;
       margin-top:5px;
   }